$page-padding: 16px;

$page-bottom-padding: $page-padding;
$page-left-padding: $page-padding;
$page-right-padding: $page-padding;
$page-top-padding: $page-padding;

// Colors
$color-primary: #756C76;

// Header
$header-lineHeigth: 64px;

