$page-padding: 16px;

$page-bottom-padding: $page-padding;
$page-left-padding: $page-padding;
$page-right-padding: $page-padding;
$page-top-padding: $page-padding;

// Colors
$color-primary: #756C76;
$color-link: #9B4DCA;
$color-border: rgba(117, 108, 118, 0.15);
$white: white;

// Helper
$shadow: 0px 3px 15px rgba(136, 136, 136, 0.25);

// Header
$header-lineHeigth: 64px;

// Layout
$layout-height: calc(100vh - #{$header-lineHeigth});

// Dropdown
$dropdown-width: 160px;

// Utility
$margin-medium: 8px;
