.layout-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

.layout-children {
  overflow-y: scroll;
  padding: 0 $page-left-padding 0 $page-left-padding;
}
