.board-container {
  display: flex;
  flex-direction: column;
  height: $layout-height;

  .taskList-container:last-child {
    margin-right: 0;
  }
}

.board-task-list-container {
  display: flex;
  flex-grow: 1;
}
